<!-- Header Content -->
<div class="text-center">
    <p>This is a Header for Application</p>
</div>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- Footer Content -->
<div class="text-center">
    <p>This is Footer for Application</p>
    <p>
        <a href="#" target="_top">This is a sample Login & Registration Application</a>
    </p>
    <p class="brand">
        <a href="http://infosys.com" target="_blank">Infosys Limited</a>
    </p>
</div>